/* =================================
  Flexbox
==================================== */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;  
}

.item {
  flex-grow: 1;
}

.item-3 {
  flex-grow: 2;
}